@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
html {
    scroll-behavior: smooth;
}
body {
    background-color: #e6e6e6;
    font-family: Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0 auto;
}

#top {
    height: 10px;
}
.landing {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1544009109-66b65c1309df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
}

.landing h1 {
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    text-align: center;
    font-size: 80px;
    display: flex;
}

.landing img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.footer {
    text-align: center;
    background-color: #e48d26;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}
.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}
.social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}
.social-icons a {
    display: inline-block;
}
.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #39393a, #302c2c);
    transition: all 265ms ease-out;
}
.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}
.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #302c2c;
    background: -webkit-linear-gradient(45deg, #39393a, #302c2c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

.sekcia {
    width: 100%;
    transition: 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}

.full-page {
    height: 100vh;
}
.panel {
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-size: 10vmin;
    padding: 1em;
    box-sizing: border-box;
    color: hsla(0, 0%, 100%, 0.1);
    cursor: default;
}

.sirka-stranky {
    width: 95%;
}

.sirka-stranky p {
    padding: 6px;
    color: black;
}

.sirka-stranky h2 {
    margin-top: 2%;
    text-align: center;
    font-size: 50px;
    width: 100%;
}

/*--------PRVA--------*/
.clanok-lez {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.co-je-lez {
    margin-top: 5rem;
}
.clanok-lez.opacne {
    flex-direction: row-reverse;
}

.clanok-lez .obrazok img {
    width: 100%;
    height: 100%;
}

.clanok-lez.opacne .lez-text {
    margin-right: 20px;
    margin-left: 0px;
}

.clanok-lez .lez-text,
.clanok-lez.opacne .lez-text {
    line-height: 40px;
    font-size: 18px;
}

.clanok-lez .obrazok,
.clanok-lez .lez-text {
    width: 50%;
}

.clanok-lez .lez-text,
.clanok-uzol .text-ako-uzol {
    margin-left: 20px;
}

/*---------DRUHA---------*/
.clanok-drevenik {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clanok-drevenik .obrazok img,
.clanok-drevenik {
    width: 100%;
    height: 100%;
}
.clanok-drevenik .drevenik-text {
    line-height: 40px;
    font-size: 18px;
}

.clanok-drevenik .obrazok,
.clanok-drevenik .drevenik-text {
    width: 50%;
}

.mapa-drev {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.respon-mapa {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/*--------TRETIA--------*/
.clanok-uzol {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.clanok-uzol .vid-uzol iframe {
    width: 100%;
    height: 100%;
}

.clanok-uzol .vid-uzol {
    width: 100%;
}

.clanok-uzol .text-ako-uzol {
    line-height: 40px;
    font-size: 18px;
}
.vid-uzol {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.vid-resp {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
/*------------MENU-----------*/
.menu {
    overflow: hidden;
    background-color: darkgray;
    position: fixed;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;
}

.menu a {
    float: left;
    display: block;
    color: #3d3d3d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    height: 30px;
    font-family: Calibri;
}

.menu .log {
    float: right;
    display: block;
    color: #39393a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    height: 30px;
    font-family: Calibri;
}

.menu .log :hover {
    cursor: pointer;
}

.menu button {
    float: left;
    color: white;
    display: block;
    width: 30px;
    border: none;
    background: transparent;
    margin-right: 2%;
    margin-top: 1.5%;
}

.menu .icon {
    display: none;
}

.menu button:hover {
    cursor: pointer;
}

.menu a:hover {
    transition: 0.3s;
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #39393a;
    color: white;
}

#logButton {
    float: right;
    display: block;
    width: fit-content;
    background: #415a77;
    border: none;
    color: white;
    padding: 13.5px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: Calibri;
    margin: 0;
}

.table-wrapper {
    box-sizing: border-box;
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #35332e;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #eb9129;
}

.fl-table tr:nth-child(even) {
    background: #f8f8f8;
}

/* Responsive */

/* Add padding to containers */
.regContainer {
    padding: 16px;
    background-color: #f9f9fa;
}

/* Full-width input fields */
.regContainer input[type="text"],
.regContainer input[type="email"],
.regContainer input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.regContainer input[type="text"]:focus,
.regContainer input[type="email"]:focus,
.regContainer input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #297373;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
.regContainer a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f9f9fa;
    text-align: center;
}

.logContainer input[type="email"]:focus,
.logContainer input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

/* Full-width inputs */
.logContainer input[type="email"],
.logContainer input[type="password"] {
    background-color: #ddd;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.logContainer button {
    background-color: #297373;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
.logContainer button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.logContainer {
    padding: 16px;
    background-color: white;
}

#deleteButton {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

#deleteButton:hover {
    background-color: #f44336;
    cursor: pointer;
    color: white;
}
#addButton {
    background-color: white;
    color: black;
    border: 2px solid #85ffc7;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    justify-content: center;
    align-items: center;
    display: flex;
}
.material-icons {
    font-size: 30px;
}
#addButton:hover {
    background-color: #85ffc7;
    cursor: pointer;
    color: gray;
}

.add-route-container input[type="text"],
.add-route-container input[type="date"],
.add-route-container select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 5px;
    resize: vertical;
}

.add-route-container {
    border-radius: 5px;
    background-color: #f9f9fa;
    padding: 20px;
}

/*----------RESPONZIVITA-----------*/

@media screen and (max-width: 700px) {
    .landing h1 {
        font-size: 50px;
    }

    .footer {
        height: 200px;
    }
    .sirka-stranky {
        width: 75%;
    }

    .sirka-stranky h2 {
        font-size: 25px;
    }

    .clanok-lez .lez-text,
    .clanok-lez.opacne .lez-text,
    .clanok-uzol .text-ako-uzol,
    .clanok-drevenik .drevenik-text {
        font-size: 15px;
    }

    .clanok-lez,
    .clanok-lez.opacne,
    .clanok-drevenik {
        flex-direction: column;
    }

    .menu a {
        font-size: 25px;
    }

    .clanok-lez .obrazok,
    .clanok-lez .lez-text,
    .clanok-drevenik .drevenik-text,
    .clanok-drevenik .obrazok {
        width: 100%;
    }

    .clanok-lez .lez-text,
    .clanok-lez.opacne .lez-text,
    .clanok-drevenik .drevenik-text {
        margin: 20px 0px 0px 0px;
    }

    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before {
        /* content: "Scroll horizontally >"; */
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child {
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td,
    .fl-table th {
        padding: 20px 0.625em 0.625em 0.625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
        width: max-content;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #f8f8f8;
        border-right: 1px solid #e6e4e4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #e6e4e4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .menu a:not(:first-child) {
        display: none;
    }
    #logButton {
        display: none;
    }

    .menu.responsive #logButton {
        display: block;
        float: none;
        width: 100%;
    }

    .menu .icon {
        float: right;
        display: block;
    }

    .menu .icon .line {
        width: 100%;
        height: 4px;
        margin-top: 6px;
        background: white;
        opacity: 1;
        transition: 0.3s;
    }

    .menu.responsive {
        position: relative;
        position: sticky;
    }

    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .menu .icon.active .line {
        background-color: white;
    }

    .menu .icon.active .line:nth-child(1) {
        transform: translateY(8px) rotate(47deg);
    }

    .menu .icon.active .line:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
    }

    .menu .icon.active .line:nth-child(2) {
        opacity: 0;
    }
}
